<div class="card shadow mb-4 mt-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">
            <i class="fa fa-user"></i> Cadastro de Clientes
        </h6>
    </div>
    <div class="card-body">

        <form autocomplete="off">

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Nome do Cliente:</label>
                        <input type="text" class="form-control" placeholder="Ex: João da Silva" />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Email:</label>
                        <input type="text" class="form-control" placeholder="Ex: joaodasilva@gmail.com" />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>CPF:</label>
                        <input type="text" class="form-control" placeholder="Ex: 12345678900" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <button type="submit" class="btn btn-success">
                            <i class="fa fa-check-circle"></i> Cadastrar Cliente
                        </button>   
                    </div>
                </div>
            </div>

        </form>

    </div>
</div>