<div class="card shadow mb-4 mt-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">
            <i class="fa fa-list"></i> Consulta de Clientes
        </h6>
    </div>
    <div class="card-body">

        <div class="table-responsive">

            <table class="table table-hover table-striped">

                <thead>
                    <tr>
                        <th>Nome do Cliente</th>
                        <th>Email</th>
                        <th>CPF</th>
                        <th>Operações</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>

                            <button class="btn btn-primary btn-sm mr-1" title="Atualizar">
                                <i class="fa fa-pencil-alt"></i>
                            </button>

                            <button class="btn btn-danger btn-sm mr-1" title="Excluir">
                                <i class="fa fa-trash"></i>
                            </button>

                        </td>
                    </tr>
                </tbody>

                <tfoot>
                    <tr>
                        <td colspan="4">
                            Quantidade de registros: 0
                        </td>
                    </tr>
                </tfoot>

            </table>

        </div>

    </div>
</div>